html {
   overscroll-behavior: none;
}

:root {
   --color-bg-default: 16, 16, 16;
   --color-text-default: 240, 240, 240;
}

.bg-default {
   background-color: rgba(var(--color-bg-default), 1);
}

.bg-default.bg-opacity-90 {
   background-color: rgba(var(--color-bg-default), 0.9);
}

.text-default {
   color: rgba(var(--color-text-default), 1);
}
